@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.container_width {
    @apply w-full max-w-screen-xl mx-auto lg:px-16 md:px-10 px-4;
}

.title_h2 {
    @apply smallDesktop:text-32 text-24 font-semibold;
}

.hover_links {
    @apply hover:text-primary2 transition-all duration-300;
}

.cart_hover {
    @apply hover:scale-[1.04] transition-all duration-300;
}

.title_h1 {
    @apply smallDesktop:text-32 text-24 font-semibold;
}
.title_h3 {
    @apply smallDesktop:text-24 text-16 font-semibold;
}
.title_h4 {
    @apply smallDesktop:text-16 text-14 font-semibold;
}
.header_menu {
    display: none;
}

.header_menu_onhover:hover .header_menu {
    display: block;
}

.active_button {
    @apply bg-primary1 hover:bg-primary2 text-neutral-50 rounded-sm sm:text-16 text-14 sm:px-4 sm:py-2 px-2 py-1 transition-all duration-300;
}

.pasiv_button {
    @apply bg-neutral-200 hover:bg-neutral-300 text-neutral-800 rounded-sm sm:text-16 text-14 sm:px-4 sm:py-2 px-2 py-1 transition-all duration-300;
}
